<li>
  <img class="gravatar" src="/assets/message.png" width="62">
  <strong>Da: </strong><%= link_to message.sender.name, message.sender %>
  <span class="content">
    <strong><%= message.subject %></strong>
  </span>
  <span class="content"><%= message.body %></span>
  <span class="timestamp">
  Sent <%= time_ago_in_words(message.created_at) %> ago
  </span>
  <% if current_user?(message.recipient) %>
     | <%= link_to 'elimina', message, method: :delete, data: { confirm: 'Sei sicuro?' }, title: message.subject %>
     | <%= link_to 'rispondi', new_message_path(user: message.sender.id, message: message), remote:true %>
     <div class="message"></div>
  <% end %>
</li>