<!--imposto il titolo della pagina con il metodo provide.. assegno titolo a :title, qui univoco-->
<% provide :title, @user.name %>

<div class="row">
    <aside class="col-md-4">
      <section>
        <h1>
          <!--img gravatar-->
          <%= gravatar_for @user %>
          <%= @user.name %>
        </h1>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>

      <%= render 'follow_form' if signed_in? %>

      <% if current_user.following?(@user) %>
         <section>
            <%= link_to 'Nuovo messaggio', new_message_path(user: @user.id), role: 'button', class: 'btn btn-info', remote: true %>
            <div class="message"></div>
         </section>
      <% end %>


    </aside>

    <div class="col-md-8">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <!-- posts -->
        <li class="active"><a href="#postm" role="tab" data-toggle="tab"><h3>Posts <% if @user.posts.any? %>(<%= @user.posts.count %>)<% end %></h3></a></li>
        <!-- itinerary -->
        <li><a href="#routem" role="tab" data-toggle="tab"><h3>Itineraries <% if @user.routes.any? %>(<%= @user.routes.count %>)<% end %></h3></a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <!-- posts -->
        <div class="tab-pane fade in active" id="postm">
          <% if @user.posts.any? %>
              <ol class="posts">
                <%= render @posts %>
              </ol>
              <% # siamo nella view di User perciò occorre specificare cosa paginare  %>
              <%= will_paginate @posts %>
          <% end %>
        </div>
        <!-- itinerary -->
        <div class="tab-pane fade" id="routem">
          <% if @user.routes.any? %>
              <ol class="posts">
                <%= render @routes %>
              </ol>
              <% # siamo nella view di User perciò occorre specificare cosa paginare  %>
              <%= will_paginate @routes %>
          <% end %>
        </div>
      </div>

    </div>
</div>