<!--imposto il titolo della pagina con il metodo provide.. assegno titolo a :title, qui univoco-->
<% provide :title, @user.name %>

<div class="row">
    <aside class="col-md-4">
      <section>
        <h1>
          <!--img gravatar-->
          <%= gravatar_for @user %>
          <%= @user.name %>
        </h1>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
    </aside>

    <div class="col-md-8">
        <% if @user.posts.any? %>
           <h3>Posts (<%= @user.posts.count %>)</h3>
           <ol class="posts">
                <%= render @posts %>
           </ol>
           <% # siamo nella view di User perciò occorre specificare cosa paginare  %>
           <% will_paginate @posts %>
        <% end %>
    </div>
</div>