<% # questo parziale viene usato nella home e nel profilo utente
# nella home @user = nil e deve essere riempito %>
<% @user ||= current_user %>
<div class="stats statsprof">
   <a href="<%= following_user_path(@user) %>">
     <strong id="following" class="stat">
       <%= @user.followed_users.count %>
     </strong>
     following <!--utenti seguiti -->
   </a>
   <a href="<%= followers_user_path(@user) %>">
     <strong id="followers" class="stat">
       <%= @user.followers.count %>
     </strong>
     followers <!-- utenti che seguono -->
   </a>

  <% if current_user?(@user) %>
     <a href="<%= messages_user_path(@user) %>">
     <strong id="unread_messages" class="stat">
       <%= @user.unread_message_count %>
     </strong>
     messaggi
     </a>
  <% end %>
</div>