<!--imposto il titolo della pagina con il metodo provide.. assegno titolo a :title-->
<% provide :title, 'Home' %>

<% if signed_in? %>
    <div class="row">


      <% if session[:errors] %>
          <div id="error_explanation">
            <div class="alert alert-error">
              Il form contiene <%= pluralize(session[:errors].count, "error") %>.
            </div>
            <ul>
              <% session[:errors].each do |message| %>
                  <li>* <%= message %></li>
              <% end %>
            </ul>
          </div>
          <% session[:errors] = nil %>
      <% end %>


       <div class="col-md-8">

         <!-- Nav tabs -->
         <ul class="nav nav-tabs" role="tablist">
           <!-- posts -->
           <li class="active"><a href="#postm" role="tab" data-toggle="tab"><h3 class="titolitabuser">Bacheca</h3></a></li>
           <!-- itinerary -->
           <li><a href="#routem" role="tab" data-toggle="tab"><h3 class="titolitabuser">Itinerari</h3></a></li>
         </ul>

         <!-- Tab panes -->
         <div class="tab-content">
           <!-- posts -->
           <div class="tab-pane fade in active" id="postm">
             <br />
             <%= render 'shared/feed' %>
           </div>
           <!-- itinerary -->
           <div class="tab-pane fade" id="routem">
             <br />
             <%= render 'shared/route' %>
           </div>
         </div>


       </div>

      <aside class="col-md-4">
        <section>
          <% # current user gravatar %>
          <a href="<%= user_path(current_user) %>">
            <%= gravatar_for current_user, size: 52 %>
          </a>
        </section>
        <section class="sezusername">
          <%= render 'shared/user_info' %>
        </section>

        <section>
          <%= render 'shared/stats' %>
        </section>

        <div class="col-md-12">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs tabpostroute" role="tablist">
              <!-- posts -->
              <li class="formli active"><a href="#postm2" role="tab" data-toggle="tab">Nuovo Post</a></li>
              <!-- itinerary -->
              <li class="formli "><a href="#routem2" role="tab" data-toggle="tab">Nuovo Itinerario</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <!-- posts -->
              <div class="tab-pane fade in active" id="postm2">
                <br />
                <%= render 'shared/post_form' %>
              </div>
              <!-- itinerary -->
              <div class="tab-pane fade" id="routem2">
                <br />
                <%= render 'shared/route_form' %>
              </div>
            </div>

        </div>

        <!--<section>
          <a href="/routes/new" class="btn btn-success btn-lg" role="button">Nuovo Itinerario</a>
        </section>-->
      </aside>
    </div>
<% else %>
    <div class="row ">
        <div class="col-md-2"></div>
        <div class="col-md-8"> <!--classi bootstrap -->

            <h2>
               Benvenuto nel Run Club! Il Social Network dedicato alla corsa!.<br /><br />
              <%= link_to "Registrati!", signup_path %> o fai il <%= link_to "Login", signin_path %> <%#= link_to "SocialNetwork", root_path %>.
            </h2>

        </div>
        <div class="col-md-2"></div>
    </div>

<% end %>