<!--imposto il titolo della pagina con il metodo provide.. assegno titolo a :title-->
<% provide :title, 'Home' %>

<% if signed_in? %>
    <div class="row">

      <% if session[:errors] %>
          <div id="error_explanation">
            <div class="alert alert-error">
              Il form contiene <%= pluralize(session[:errors].count, "error") %>.
            </div>
            <ul>
              <% session[:errors].each do |message| %>
                  <li>* <%= message %></li>
              <% end %>
            </ul>
          </div>
          <% session[:errors] = nil %>
      <% end %>

       <aside class="col-md-3">
         <section>
            <%= render 'shared/user_info' %>
         </section>

         <section>
            <%= render 'shared/stats' %>
         </section>

         <!--<section>
           <a href="/routes/new" class="btn btn-success btn-lg" role="button">Nuovo Itinerario</a>
         </section>-->
       </aside>
       <div class="col-md-9">

         <!-- Nav tabs -->
         <ul class="nav nav-tabs" role="tablist">
           <!-- posts -->
           <li class="active"><a href="#postm" role="tab" data-toggle="tab"><h3>Bacheca</h3></a></li>
           <!-- itinerary -->
           <li><a href="#routem" role="tab" data-toggle="tab"><h3>Itinerari</h3></a></li>
         </ul>

         <!-- Tab panes -->
         <div class="tab-content">
           <!-- posts -->
           <div class="tab-pane fade in active" id="postm">
             <br />
             <%= render 'shared/post_form' %>
             <%= render 'shared/feed' %>
           </div>
           <!-- itinerary -->
           <div class="tab-pane fade" id="routem">
             <br />
             <%= render 'shared/route_form' %>
             <%= render 'shared/route' %>
           </div>
         </div>


       </div>
    </div>
<% else %>

    <div class="jumbotron text-center"> <!--classi bootstrap -->
        <h1>Benvenuto nel SocialNetwork<br />di Marika</h1>
        <h2>
            Registrati o fai il <%= link_to "Login", signin_path %> <%#= link_to "SocialNetwork", root_path %>.
        </h2>

        <%= link_to "Registrati!", signup_path, class:"btn btn-primary btn-lg", role:"button"%> <!--classi bootstrap -->
    </div>

<% end %>