<% provide :title, 'Home' %>

<h1>Pages#home</h1>
<p>Mi trovi in app/views/pages/home.html.erb</p>

<h1>Benvenuto in Flix</h1>
<%= link_to 'About', about_path %>
<%= link_to 'Faq', faq_path %>
<%= link_to 'Contact', contact_path %>
<%= link_to 'Sign Up', signup_path %>
<%= link_to 'Sign In', signin_path %>